{% extends "base.html" %}
{% block content %}
<h1>Users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Full name</th>
      <th>Date of the signup</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.date_joined}}</td>
        <td><a href="/users/{{user.id}}/update/">Update</a></td>
        <td><a href="/users/{{user.id}}/delete/">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
