{% extends "base.html" %}
{% block content %}
<h1>Tasks</h1>
<a class="btn btn-sm btn-outline-secondary" href="create/">Create</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
        <th>Performer</th>
        <th>Date of creation</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{task.id}}</td>
        <td><a href="/tasks/{{task.id}}/show/">{{task.name}}</a></td>
        <td>{{task.status}}</td>
        <td>{{task.user}}</td>
        <td>{{task.created_at}}</td>
        <td><a href="/tasks/{{task.id}}/update/">Update</a></td>
        <td><a href="/tasks/{{task.id}}/delete/">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}