{% extends "base.html" %}
{% block content %}
<h1>Labels</h1>
<a class="btn btn-sm btn-outline-secondary" href="create/">Create</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date of creation</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
    {% for label in labels %}
    <tr>
        <td>{{label.id}}</td>
        <td>{{label.name}}</td>
        <td>{{label.created_at}}</td>
        <td><a href="/labels/{{label.id}}/update/">Update</a></td>
        <td><a href="/labels/{{label.id}}/delete/">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}